.company-info {
  background: url("../img/icon-triangle-company.svg") left -231px top -28px no-repeat transparent;
  z-index: -1;
}

@media (max-width: $tablet-width) {
  .company-info {
    background: $white;
  }
}
