.feedback {
  background: url("../img/icon-triangle-feedback.svg") left 179px top -60px no-repeat $blue;
  background-color: $blue;
  padding: 10px 40px 113px;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback__wrapper {
  position: relative;
  max-width: 570px;
  margin-left: auto;
  margin-right: 136px;

  &::before {
    content: "";
    position: absolute;
    top: 153px;
    left: -621px;
    width: 511px;
    height: 288px;
    background-image: url("../img/paper-airplane-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/paper-airplane-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 511px 288px;
    }

    @media (max-width: 1360px) {
      background-size: 341px 192px;
      left: -460px;
    }
  }
}

.feedback h2 {
  font-family: $font-roboto;
  color: $white;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 54px;
}

.feedback p {
  font-family: $font-PTmono;
  margin-top: 12px;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.feedback__form input[type="text"],
.feedback__form input[type="tel"] {
  font-family: $font-PTmono;
  width: calc(50% - 15px);
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 35px;
  padding: 11px 5px 11px 18px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    font-family: $font-PTmono;
    color: $white;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border: solid 1px $black-bg;
    color: $white;
  }

  &:active {
    border: solid 2px $black-bg;
  }
}

.feedback__form textarea {
  font-family: $font-PTmono;
  width: 100%;
  height: 154px;
  box-sizing: border-box;
  padding-left: 21px;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 48px;
  resize: none;

  &::placeholder {
    font-family: $font-PTmono;
    color: $white;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border: solid 1px $black-bg;
    color: $white;
  }

  &:active {
    border: solid 2px $black-bg;
  }
}

.feedback__form button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 270px;
  height: 45px;
  border: 1px solid $white;
  border-radius: 5px;
  box-sizing: border-box;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue;
  }
}

.feedback__agreement {
  font-family: $font-PTmono;
  cursor: pointer;
  position: relative;
  display: block;
  margin-top: 8px;
  padding-left: 33px;
  width: 230px;
  opacity: 0.8;
  color: $white;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.feedback__agreement input[type="checkbox"] + .feedback__agreement-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
}

.feedback__agreement input[type="checkbox"]:checked + .feedback__agreement-span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 7px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: $tablet-width) {
  .feedback {
    background: $blue;
    padding-bottom: 60px;
  }

  .feedback__container {
    padding-left: 51px;

    &::before {
      display: none;
    }
  }

  .feedback__wrapper {
    margin-right: 0;
    margin-left: 0;
    max-width: none;
    padding-right: 44px;

    &::before {
      content: "";
      display: none;
    }
  }

  .feedback h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 0;
    margin-top: 14px;
  }

  .feedback p {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .feedback__form {
    margin-top: 56px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    height: 52px;
    margin-bottom: 40px;
    padding-left: 19px;
  }

  .feedback__form textarea {
    padding-top: 11px;
    height: 160px;
    margin-bottom: 0;
  }

  .feedback__form button {
    width: 280px;
    height: 46px;
    margin: 43px 2px;
  }

  .feedback__agreement {
    margin-top: 52px;
    padding-left: 0;
    margin-right: 10px;

    &::before {
      top: 0;
      left: 17px;
    }

    &::after {
      top: 4px;
      left: 21px;
    }
  }


  .feedback__agreement input[type="checkbox"] + .feedback__agreement-span {
    left: -34px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding: 12px 0 40px;
  }


  .feedback__container {
    padding-left: 13px;
    padding-right: 13px;
  }

  .feedback__wrapper {
    padding-right: 0;
    width: 100%;
  }

  .feedback h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 0;
    padding: 0;
  }

  .feedback p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
  }

  .feedback__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    width: 100%;
    height: 52px;
    margin-bottom: 31px;
    padding-left: 19px;
  }

  .feedback__form textarea {
    width: 100%;
    height: 104px;
    padding-left: 16px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .feedback__agreement {
    padding-top: 5px;
    padding-left: 35px;
    width: 100%;
    margin-top: 0;
  }

  .feedback__agreement input[type="checkbox"] + .feedback__agreement-span {
    top: 4px;
    left: 1px;
  }

  .feedback__form button {
    width: 100%;
    height: 46px;
    margin: 28px 0;
  }
}
