.footer-socials {
  color: $black-bg;
  width: 300px;
}

.footer-socials__logo img {
  margin-left: 9px;
  margin-top: 16px;
}

.footer-socials__container {
  display: flex;
  flex-direction: column;
}

.footer-socials__list {
  list-style: none;
  display: flex;
  padding-left: 9px;
  margin: 0;
}

.footer-socials p {
  display: none;
}

.footer-socials__item {
  padding-top: 47px;
  padding-right: 16px;
}

.footer-socials__link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .footer-socials {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer-socials__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-socials__list {
    margin-top: 0;
    padding-left: 72px;
  }

  .footer-socials__item {
    padding-top: 29px;
  }

  .footer-socials p {
    display: block;
    padding-top: 31px;
    margin: 0;
    padding-left: 87px;
    letter-spacing: 0.6px;
    font-family: $font-PTmono;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .footer-socials__link svg {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: $mobile-width) {
  .footer-socials {
    color: $black-bg;
    padding-bottom: 50px;
    padding-top: 32px;
  }

  .footer-socials__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-socials__logo {
    display: block;
    margin-left: -9px;
  }

  .footer-socials__list {
    margin-left: 9px;
    padding: 0;
    margin-top: 3px;
  }

  .footer-socials p {
    text-align: left;
    padding-top: 21px;
    padding-left: 1px;
    letter-spacing: 0.5px;
  }

  .footer-socials__link img {
    width: 27px;
    height: 27px;
  }
}
