.footer-contacts {
    margin-top: 55px;
    padding-bottom: 25px;  
}

.footer-contacts__title {
    font-family: $font-roboto;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0;
}

.footer-contacts__list {
    font-family: $font-PTmono;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    opacity: 0.5;
    list-style: none;
    margin: 0;
    text-align: left;
    padding-left: 0;
    padding-top: 11px;
}

.footer-contacts__link {
    color: $gray-text;
}

@media (max-width: $tablet-width) {
    .footer-contacts {
        margin-top: 47px;
        padding-bottom: 25px;  
    }
}

@media (max-width: $mobile-width) {
    .footer-contacts {
        margin-top: 0;
        padding-bottom: 25px;
        padding-left: 17px;
        border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    }
    
    .footer-contacts__title {
        font-family: $font-roboto;
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
    }
    
    .footer-contacts__list {
        font-family: $font-PTmono;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        opacity: 0.5;
        list-style: none;
        margin: 0;
        text-align: left;
        padding-left: 0;
        padding-top: 21px;
        max-width: 272px;
    }
  }