.footer-contacts {
  padding-left: 53px;
}

.footer-contacts h2 {
  padding-left: 2px;
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3px;
}

.footer-contacts__list {
  font-family: $font-PTmono;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.5;
  list-style: none;
  margin: 0;
  text-align: left;
  padding-left: 0;
  padding-top: 15px;
}

.footer-contacts__item a {
  color: $gray-text;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.footer-contacts__button {
  display: none;
}

@media (max-width: $tablet-width) {
  .footer-contacts {
    padding-top: 26px;
    padding-left: 0;
    margin-right: 34px;
  }
}

@media (max-width: $mobile-width) {
  .footer-contacts {
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
    width: 100%;
  }

  .footer-contacts__header {
    position: relative;
  }

  .footer-contacts__list {
    padding-top: 3px;
    padding-left: 11px;

    &.closed {
      display: none;
    }
  }

  .footer-contacts h2 {
    padding: 16px 12px;
  }

  .footer-contacts__button {
    position: absolute;
    top: 7px;
    right: -26px;
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../img/icon-plus.svg") center no-repeat transparent;
    cursor: pointer;

    &.closed {
      margin: 0;
      background-image: url("../img/icon-minus.svg");
    }
  }
}
