.footer-copyright {
  padding-top: 0;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-copyright__container {
  padding-left: 24px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-copyright__text {
  font-family: $font-PTmono;
  min-width: 224px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  display: block;
  opacity: 0.5;
  letter-spacing: 0.15px;
  color: $black-bg;
}

.footer-copyright__text--rights {
  padding: 1em 0 1em 0;
}

.footer-copyright__text--register {
  padding-right: 151px;
}

.footer-copyright__text--develop {
  margin-left: auto;
}

.footer-copyright__text a {
  display: block;
  color: $black-bg;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .footer-copyright {
    padding-left: 0;
    padding-top: 11px;
  }

  .footer-copyright__container {
    padding-left: 27px;
    padding-top: 10px;
  }

  .footer-copyright__text--rights,
  .footer-copyright__text--register {
    display: none;
  }

  .footer-copyright__text {
    text-align: left;
    margin-left: 0;
  }

  .footer-copyright__text--conditions {
    margin-left: 0;
  }

  .footer-copyright__text--develop {
    margin-left: auto;
  }
}

@media (max-width: $mobile-width) {
  .footer-copyright {
    padding: 0;
  }

  .footer-copyright__container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .footer-copyright__text {
    padding-left: 0;
    margin-top: 0;
    letter-spacing: 0.9px;
  }

  .footer-copyright__text--conditions {
    min-width: 0;
    margin: 0;
  }

  .footer-copyright__text--develop {
    margin: 0;
  }

  .footer-copyright__text--rights,
  .footer-copyright__text--register {
    display: none;
  }

  .footer-copyright__text {
    padding-bottom: 21px;
  }
}
