.header {
  background: url("../img/bg-effect.webp") center no-repeat $black-bg;
  z-index: 2;
  position: relative;
  background-size: cover;
  padding: 25px 0 27px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  margin-right: 8px;
}

.header__item {
  margin-right: 68px;
}

.header__item--phone {
  margin-left: 0;
}

.header__link {
  position: relative;
  color: $white;
  font-family: $font-PTmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header__icon {
  margin-right: 13px;
}

.header__item--btn {
  margin: 0 0 0 50px;
}

.header__callback {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 180px;
  height: 45px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding-top: 12px;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

@media (max-width: $tablet-width) {
  .header {
    padding: 16px 0 0;
    min-height: 672px;
  }

  .header__container {
    padding-left: 22px;
  }

  .header__contacts {
    margin-right: -39px;
  }

  .header__icon--email {
    width: 25px;
    height: 19px;
  }

  .header__icon--phone {
    width: 24px;
    height: 24px;
  }

  .header__item {
    margin-right: 11px;
  }

  .header__callback {
    display: none;
  }

  .header__email,
  .header__phone {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-top: 16px;
    min-height: 632px;
  }

  .header__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__contacts {
    margin-right: -56px;
    align-items: center;
  }

  .header__item {
    display: block;
    margin-right: 5px;
  }

  .header__link {
    display: block;
    margin: 0;
  }

  .header__callback {
    display: none;
  }

  .header__email,
  .header__phone {
    display: none;
  }
}
