.introduction {
  z-index: 0;
  position: relative;
  min-width: 1024px;
 }

 .introduction__wrapper {
  position: absolute;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 550px;
    width: 611px;
    height: 488px;
    background: url("../img/icon-triangle-intro.svg") left -128px top -164px no-repeat;
    background-size: 580px auto;
    background-position: left -93px top -123px;
  }
}

.introduction__img {
  width: 705px;
  height: 515px;
  top: 250px;
  left: 810px;
  z-index: -2;
 }

.introduction__title {
  font-family: $font-roboto;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 94px;
  margin: 50px 0 27px 0;
  padding-top: 172px;
  letter-spacing: 6px;
  max-width: 730px;
}

.introduction__subtext {
  position: relative;
  font-family: $font-PTmono;
  font-weight: 500;
  color: $white;
  font-size: 22px;
  line-height: 35px;
  max-width: 683px;
  padding-left: 93px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }
}

.introduction__btn--mobile {
  display: none;
}

.introduction__btn--desktop {
    width: 407px;
    height: 55px;
    padding-top: 18px;
    margin: 42px 95px;
    display: block;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 5px;
    border-color: transparent;
    box-sizing: border-box;
    letter-spacing: 1px
}

.introduction__scroll {
  position: absolute;
  top: 552px;
  left: 25px;
  opacity: 0.5;
  transform: rotate(-90deg);
  background: none;
  cursor: pointer;
  font-family: $font-PTmono;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $white;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

  @media (max-width: $tablet-width) {
    .introduction__wrapper {
      position: absolute;
      top: -16px;
      left: 467px;
      z-index: -1;
    
      &::before {
        top: -28px;
        left: -13px;
        width: 480px;
        height: 380px;
        background-size: 600px auto;
        background-position: left -93px top -127px;
      }
    }

    .introduction__img {
        width: 465px;
        height: 340px;
        top: 92px;
        left: 500px
       }

       .introduction__title {
        font-size: 60px;
        line-height: 70px;
        max-width: 470px;
        margin: 50px 0 27px 40px;
        padding-top: 62px;
        padding-left: 28px;
        letter-spacing: 3px;
      }

  .introduction__subtext {
    font-size: 18px;
    line-height: 28px;
    max-width: 356px;
    padding-left: 64px;
  }

  .introduction__btn--mobile {
    display: none;
 }
 
 .introduction__btn--desktop {
  display: block;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  width: 379px;
  height: 55px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 18px;
  margin: 53px 114px;
  letter-spacing: 1px
  }
}

@media (max-width: $mobile-width) {
 .introduction__wrapper {
  position: absolute;
  top: -15px;
  left: 25px;
  z-index: -1;
  width: 301px;

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: 142px;
    width: 281px;
    height: 434px;
    background: url("../img/icon-triangle-intro.svg") left -128px top -164px no-repeat;
    background-size: 580px auto;
    background-position: left -93px top -123px;
  }
}

.introduction__title {
  font-family: $font-roboto;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  color: $white;
  max-width: 277px;
  margin: 46px 0 27px 0;
  padding-top: 183px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.introduction__subtext {
  font-family: $font-PTmono;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: $white;
  max-width: 245px;
  margin: 0 0 0 49px;
}

.introduction__btn--mobile {
 display: block;
}

.introduction__btn--desktop {
  display: none;
}

.introduction__btn--mobile {
  display: block;
  background-color: #00B2FF;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  width: 287px;
  height: 55px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 16px;
  margin: 39px auto;
  letter-spacing: 1px
}

}