.logo {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.3;
  }
}

.logo--desktop {
  padding-left: 12px;
  display: block;
}

.logo--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .logo--desktop {
    width: 202px;
    height: 59px;
  }
}

@media (max-width: $mobile-width) {
  .logo--mobile {
    display: block;

    &:hover,
    &:focus {
      opacity: 0.3;
    }
  }

  .logo--desktop {
    display: none;
  }
}
