.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 490px;
  height: 605px;
  transform: translate(-50%, -50%);
  background-color: #00b2ff;
  color: $white;
}

.modal__page {
  display: block;
}

.modal__container {
  padding-left: 37px;
  padding-right: 60px;
  padding-top: 11px;
}

.modal h2 {
  font-family: $font-roboto;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 0;
}


.modal p {
  font-family: $font-PTmono;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 8px;
  margin: 0;
}

.modal__close-btn--page {
  display: none;
}

.modal__close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 40px;
  height: 40px;
  background: url("../img/icon-modal-close.svg") top right no-repeat transparent;
  background-size: 20px 20px;
  border: 0;
  cursor: pointer;
  font-size: 0;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.form {
  margin-top: 35px;
}

.form input {
  font-family: $font-PTmono;
  margin-bottom: 26px;
  width: 412px;
  height: 52px;
  box-sizing: border-box;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    font-family: $font-PTmono;
    color: $white;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border: solid 1px $black-bg;
  }

  &:active {
    border: solid 2px $black-bg;
  }
}

.form textarea {
  margin-top: 9px;
  font-family: $font-PTmono;
  width: 412px;
  height: 104px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 7px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  resize: none;

  &::placeholder {
    color: $white;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border: solid 1px $black-bg;
    color: $white;
  }

  &:active {
    border: solid 2px $black-bg;
    color: $white;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form__submit-label {
  position: relative;
  font-family: $font-PTmono;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 34px;
  padding-left: 50px;
  padding-right: 10px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.form__submit-label input[type="checkbox"] + .form__submit-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
}

.form__submit-label input[type="checkbox"]:checked + .form__submit-span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 7px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.form__submit button {
  width: 412px;
  height: 47px;
  border: 1px solid $white;
  background: transparent;
  line-height: 16px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue;
  }
}

.modal--open {
  display: block;
}

.modal--overflow {
  overflow: hidden;
}
