.services {
    padding: 0 2px 106px 26px;
    background-color: $black-bg;
    margin-top: 0;
}

.services__container {
    width: 1182px;
    margin: 0 auto;
}

.services__title {
    font-family: $font-roboto;
    color: $white;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    padding-top: 85px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 52px;
    list-style: none;
}

.services-item {
    margin-bottom: 30px;
    max-width: 370px;
}


.services-item__link {
    position: relative;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 63px;
        height: 63px;
        background: url("../img/icon-vector-right.svg") center no-repeat $blue;
      }
}
  

.services-item__title {
    position: absolute;
    font-family: $font-roboto;
    max-width: 172px;
    color: $white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-top: 31px;
}

@media (max-width: $tablet-width) {
    .services {
        padding-bottom: 18px;
    }
    
    .services__container {
        width: 736px;
    }

    .services__title {
        font-size: 32px;
        line-height: 45px;
        padding-top: 55px;
        max-width: 613px;
    }

.services__list {
    flex-wrap: wrap;
    margin-top: 52px;
}


.services-item {
    margin-bottom: 40px;
    max-width: 716px;
}

    .services-item__img {
        width: 716px;
        height: 256px;
    }

    .services-item__title {
        text-align: left;
        top: 21px;
        left: 44px;
        padding: 0;
    }
}

@media (max-width: $mobile-width) {
    .services {
        margin-top: 55px;
        padding-left: 0;
        padding-bottom: 13px;
    }
    
    .services__container {
        width: 290px;
        padding: 0;
    }
    
    .services__title {
        font-family: $font-roboto;
        color: $white;
        font-size: 28px;
        line-height: 40px;
        font-weight: 400;
        padding-top: 55px;
        max-width: 280px;
        padding-left: 8px;
    }
    
    .services__list {
        flex-direction: column;
        padding: 0;
        margin-top: 38px;
    }

.services-item {
    margin-bottom: 27px;
    max-width: 290px;
}
    
    .services__link {
        position: relative;
        z-index: 1;
        display: block;
        max-width: 370px;
    }
      
    
    .services-item__title {
        font-size: 20px;
        line-height: 30px;
        top: 4px;
        left: 33px;
    }
    
    .services-item__img {
        width: 290px;
        height: 256px;
    }
}